<ng-container *ngIf="flag">
  <h4 class="mt-3">
    Ohh! it seems you havent Added Your Company Details still...
  </h4>

  <div class="d-flex justify-content-end mt-3 mx-3">
    <a [routerLink]="['/Employer/employer/add']" class="btn btn-primary mx-3"
      >Add Company Details <i class="bi bi-person-plus"></i
    ></a>
  </div>
</ng-container>
<ng-container *ngIf="!flag">
  <div class="container" >
    <h2 class="mt-2">{{employer.organization}}</h2>
    <hr />
    <div>
      <div class="my-3 p-3">
          <div class="d-flex flex-row">
              <div class="col-3">
                  <img   [src]="employer.profileImageUrl" alt="Company Logo" width="60%" height="70%">
              </div>
              <div class="col-9">
                
                <div class="mt-1">
                  <div class="d-flex flex-row">
                      <div class="col-6 p-2">
                          <div class="fw-bold">Email: </div>{{employer.companyEmail}}
                      </div>
                      <div class="col-6 p-2">
                          <div class="fw-bold">Phone No: </div>{{employer.companyPhone}}
                      </div>
                  </div>
              </div>

              <div class="mt-1">
                  <div class="d-flex flex-row">
                      <div class="col-6 p-2">
                          <div class="fw-bold">Started in Year: </div>{{employer.startYear}}
                      </div>
                      <div class="col-6 p-2">
                          <div class="fw-bold">Total No Of Employees: </div>{{employer.noOfEmployees}}
                      </div>
                  </div>
              </div>
                  <div class="mt-1">
                      <div class="d-flex flex-row">
                        
                          <div class="col-6 p-2">
                              <div class="fw-bold">Organization Type: </div>{{employer.organizationType}}
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          
          <div class="mt-1 align-items-center">
              <div class="d-flex flex-row ">
                  <div class="col-12 p-2">
                      <div class="fw-bold ">About This Company</div>
                      <div style="white-space: pre-wrap;">{{employer.about}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>


      <div class="justify-content-around d-flex mt-2 mb-3">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        ><i class="bi bi-pencil-square"></i>
          Update Details
        </button>
      </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <div aria-hidden="true">&times;</div>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editCompanyForm">
                <div class="mt-2">
                  <div class="mt-3">
                    <label class="form-label">Organization Name</label>
                    <input
                      type="text"
                      id="organization"
                      name="organization"
                      class="form-control w-100"
                      placeholder="Enter Organization Name"
                      formControlName="organization"
                      [value]="employer.organization"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('organization')?.invalid &&
                        editCompanyForm.get('organization')?.dirty
                      "
                    >
                      Organization Name is Required.
                    </small>
                  </div>

                  <div class="mt-3">
                    <label class="form-label">Organization Type</label>
                    <input
                      type="text"
                      id="organizationType"
                      name="organizationType"
                      class="form-control w-100"
                      placeholder="Enter Organization Type"
                      formControlName="organizationType"
                      [value]="employer.organizationType"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('organizationType')?.invalid &&
                        editCompanyForm.get('organizationType')?.dirty
                      "
                    >
                      Organization Type is Required.
                    </small>
                  </div>
                  <div class="mt-3">
                    <label class="form-label">Company Email</label>
                    <input
                      type="text"
                      id="companyEmail"
                      name="companyEmail"
                      class="form-control w-100"
                      placeholder="Enter Company Email"
                      formControlName="companyEmail"
                      [value]="employer.companyEmail"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('companyEmail')?.invalid &&
                        editCompanyForm.get('companyEmail')?.dirty
                      "
                    >
                      Company Email is Required.
                    </small>
                  </div>
                  <div class="mt-3">
                    <label class="form-label">Company's Phone Number</label>
                    <input
                      type="text"
                      id="companyPhone"
                      name="companyPhone"
                      class="form-control w-100"
                      placeholder="Enter Company Number"
                      formControlName="companyPhone"
                      [value]="employer.companyPhone"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('companyPhone')?.invalid &&
                        editCompanyForm.get('companyPhone')?.dirty
                      "
                    >
                      Company Phone Number Should be 10 digits.
                    </small>
                  </div>
                  <div class="mt-3">
                    <label class="form-label">No of Employee</label>
                    <input
                      type="number"
                      id="noOfEmployees"
                      name="noOfEmployees"
                      class="form-control w-100"
                      placeholder="Enter Total Number of Employees"
                      formControlName="noOfEmployees"
                      [value]="employer.noOfEmployees"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('noOfEmployees')?.invalid &&
                        editCompanyForm.get('noOfEmployees')?.dirty
                      "
                    >
                      Total Number of Employees should be greater than 1.
                    </small>
                  </div>
                  <div class="mt-3">
                    <label class="form-label">Started In Year</label>
                    <input
                      type="number"
                      id="startYear"
                      name="startYear"
                      class="form-control w-100"
                      placeholder="When was Organization Established?"
                      formControlName="startYear"
                      [value]="employer.startYear"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('startYear')?.invalid &&
                        editCompanyForm.get('startYear')?.dirty
                      "
                    >
                      Invalid Year Should be between 1900 - 2024
                    </small>
                  </div>
                  <div class="mt-3">
                    <label class="form-label">About Company</label>
                    <textarea
                      pInputTextarea
                      id="about"
                      name="about"
                      class="form-control"
                      style="height: 180px; max-height: 180px"
                      class="form-control w-100"
                      placeholder="Enter Organization Information"
                      formControlName="about"
                      [value]="employer.about"
                    >
                    </textarea>
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editCompanyForm.get('about')?.invalid &&
                        editCompanyForm.get('about')?.dirty
                      "
                    >
                      Minimum 50 characters are Required
                    </small>
                  </div>
                </div>
                <div class="mt-3 p-2">
                  <label for="UploadImage" class="form-label">Change Company Logo </label>
                  <input type="file" id="UploadImage" name="UploadImage" class="form-control" (change)="onFileUploadChange($event)" />
              </div>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="editCompanyForm.invalid"
                  (click)="onFormSubmit()"
                  data-dismiss="modal"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</ng-container>
