body{
    padding-top:40px;
    background:#E6E6FA    
    }
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    
    .avatar-md {
        height: 5rem;
        width: 5rem;
    }
    
    .fs-19 {
        font-size: 19px;
    }
    
    .primary-link {
        color: #314047;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    a {
        color: #02af74;
        text-decoration: none;
    }
    
    
    
    
    .candidate-list-box .favorite-icon {
        position: absolute;
        right: 22px;
        top: 22px;
    }
    .fs-14 {
        font-size: 14px;
    }
  
    
    .mt-1 {
        margin-top: 0.25rem!important;
    }
    
    .bg-img {
        background-image: url('/src/assets/images/Job-Board-Header-Background.png'); /* Adjust the path based on your folder structure */
        background-size: cover; /* Optional: Adjust the background size as needed */
      }