<div class="container">

    <h1 class="mt-3">Experiences</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/Jobseeker/experience/add']" class="btn btn-primary"> <i class="bi bi-buildings-fill"></i> ADD Experience </a>
    </div>

    <ng-container *ngIf="experiences; else noexperiences">
        <div class="card mt-3">
        <p-table [value]="experiences" [tableStyle]="{ 'min-width': '60rem'}" >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="companyName" style="width:20%">Company Name <p-sortIcon field="companyName"></p-sortIcon></th>
                    <th pSortableColumn="startYear" style="width:20%">Start Year <p-sortIcon field="startYear"></p-sortIcon></th>
                    <th pSortableColumn="endYear" style="width:20%">End Year <p-sortIcon field="endYear"></p-sortIcon></th>
                    <th pSortableColumn="designation" style="width:20%">designation <p-sortIcon field="designation"></p-sortIcon></th>
                    <th style="width:10%"></th>
                    <th style="width:10%"></th>
                </tr>
            </ng-template>
 
                <ng-template pTemplate="body" let-experience >
                    <tr>
                    <td>{{experience.companyName}}</td>
                    <td>{{experience.startYear|date:'dd-MM-yyyy'}}</td>
                    <td>{{experience.endYear|date:'dd-MM-yyyy'}}</td>
                    <td>{{experience.designation}}</td>
                    
                    <td>
                        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"
                            (click)="onEditInitHandler(experience.id)">
                            <i class="bi bi-pencil-square"></i> Edit 
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#confirmDelete' + experience.id">
                          <i class="bi bi-trash3"></i>Delete
                        </button>
                        <div class="modal fade" [id]="'confirmDelete' + experience.id" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="confirmDeleteLabel">Delete Confirmation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete the Qualification
                              </div>
                              <div class="modal-footer">
                                <button type="button" (click)="ExperienceDelete(experience.id)" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
            </ng-template>
        </p-table>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1 class="mt-3">Edit Experience</h1>

                        <form [formGroup]="editExperienceForm" >
                            <div class="mt-2 mb-5">
                            
                                <div class="mt-3">
                                    <label for="companyName" class="form-label">Company Name</label>
                                    <input 
                                    type="text" 
                                    id="companyName" 
                                    name="companyName" 
                                    class="form-control w-100"
                                    placeholder="Enter Company Name"
                                    formControlName="companyName"
                                    [value]="experience.companyName"/>
                                <small class="d-block text-danger"
                                    *ngIf="editExperienceForm.get('companyName')?.invalid && editExperienceForm.get('companyName')?.dirty">
                                    Compnay Name is Required.
                                </small>
                                </div>

                                <div class="mt-3" style="flex-direction: column;">
                                    <label for="startDate" class="form-label"> Start Date</label>
                                    <p-calendar type="date"placeholder="dd-MM-yyyy" id="endYear" name="endYear" [(ngModel)]="experience.startYear" [ngModelOptions]="{standalone: true}"></p-calendar>

                                </div>

                                <div class="mt-3 " >
                                    <label for="endDate" class="form-label"> End Date</label>
                                    <p-calendar placeholder="dd-MM-yyyy" type="date" id="endYear" name="endYear" [(ngModel)]="experience.endYear" [ngModelOptions]="{standalone: true}"></p-calendar>
                                </div>
                                <div class="mt-3">
                                    <label for="CompanyUrl" class="form-label">Company Url</label>
                                    <input 
                                    type="text" 
                                    id="companyUrl" 
                                    name="companyUrl" 
                                    class="form-control w-100"
                                    placeholder="Enter Company Url"
                                    formControlName="companyUrl"
                                    [value]="experience.companyUrl"/>
                                <small class="d-block text-danger"
                                    *ngIf="editExperienceForm.get('companyUrl')?.invalid && editExperienceForm.get('companyUrl')?.dirty">
                                    Compnay Url is Required.
                                </small>
                                </div>
                                <div class="mt-3">
                                    <label for="Designation" class="form-label">Designation</label>
                                    <input 
                                    type="text" 
                                    id="designation" 
                                    name="designation" 
                                    class="form-control w-100"
                                    placeholder="Enter Job Designation"
                                    formControlName="designation"
                                    [value]="experience.designation"/>
                                <small class="d-block text-danger"
                                    *ngIf="editExperienceForm.get('designation')?.invalid && editExperienceForm.get('designation')?.dirty">
                                    Job Designation is Required.
                                </small>
                                </div>
                                 <div class="mt-3">
                                    <label for="jobDescription" class="form-label">Job Description</label>
                                    <textarea 
                                    pInputTextarea
                                    id="jobDescription" 
                                    name="jobDescription" 
                                    class="form-control" 
                                    style="height: 180px; max-height: 180px;" 
                                    class="form-control w-100"
                                    placeholder="Enter Job Description"
                                    formControlName="jobDescription"
                                    [value]="experience.jobDescription">
                                </textarea>
                                <small class="d-block text-danger"
                                    *ngIf="editExperienceForm.get('jobDescription')?.invalid && editExperienceForm.get('jobDescription')?.dirty">
                                    Job Description is Required.
                                </small>
                                 </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="click" [disabled]="editExperienceForm.invalid" class="btn btn-primary " (click)="UpdateExperience()"
                            data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ng-container>
</div>
<ng-template #noexperiences>
    <p class="mt-2">
        You have added any experiences yet!!
    </p>
</ng-template>