<ng-container *ngIf="!flag">
  <h4 class="mt-3">
    Ohh! it seems you havent Added Your Profile Details still...
  </h4>
  <div class="d-flex justify-content-end mt-3 mx-3">
    <a [routerLink]="['/jobseeker/add']" class="btn btn-primary mx-3"
      >Add profile <i class="bi bi-person-plus"></i></a
    >
  </div>
</ng-container>
<ng-container *ngIf="flag" class="card-body">
  <div class="container-sm justify-content-center">
    <div
      class="my-3 border border-dark rounded p-3"
      style="background-color: rgba(192, 229, 244, 0.314)"
    >
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <h3>Details</h3>
        </div>

        <ng-container *ngIf="user?.userType?.includes('JobSeeker')">
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Update Personal Details
          </button>
        </ng-container>
      </div>
      <hr />
      <div >
        <div class="mt-2">
          <div class="d-flex flex-row">
            <div class="col-6">
              <i class="bi bi-person-fill" style="font-size: 1.2rem"></i>
              <span class="fw-bold"> Name: </span>{{ jobseeker.firstName }}
              {{ jobseeker.lastName }}
            </div>
            <div class="col-6">
              <i class="bi bi-telephone-fill" style="font-size: 1.2rem"></i>
              <span class="fw-bold"> Phone Number: </span>{{ jobseeker.phone }}
            </div>
          </div>
        </div>

        <div class="mt-2">
          <div class="d-flex flex-row">
            <div class="col-6">
              <i
                class="bi bi-calendar-event-fill"
                style="font-size: 1.2rem"
              ></i>
              <span class="fw-bold"> Date of Birth: </span
              >{{ jobseeker.dob | date : "yyyy-MM-dd" }}
            </div>
            <div class="col-6">
              <i class="bi bi-award-fill" style="font-size: 1.2rem"></i>
              <span class="fw-bold"> Total Experience: </span
              >{{ jobseeker.totalExperience }}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <div class="d-flex flex-row">
          <div class="col-6">
            <i class="bi bi-currency-pound" style="font-size: 1.2rem"></i>
            <span class="fw-bold"> Expected Salary: </span
            >{{ jobseeker.expectedSalary }}
          </div>
          <div class="col-6">
            <i class="bi bi-house-fill" style="font-size: 1.2rem"></i>
            <span class="fw-bold"> Address: </span> {{ jobseeker.address }}
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3 ">
        <a
          href="{{ jobseeker.resumeURL }}"
          target="_blank"
          class="btn btn-primary text-decoration-none fw-bold"
          >Resume  <i class="bi bi-envelope-paper"></i></a
        >
      </div>
    </div>
    <p-accordion>
      <p-accordionTab header="Experiences">
        <div
          class="my-3 border border-dark rounded p-3"
          style="background-color: rgba(192, 229, 244, 0.314)"
        >
          <ng-container *ngIf="jobseeker.experience">
            <div class="d-flex justify-content-between">
              <div>
                <h3>Experiences</h3>
              </div>
            </div>
            <div *ngFor="let experience of jobseeker.experience">
              <hr />
              <div class="mt-3">
                <div class="d-flex flex-row">
                  <div class="col-6">
                    <i
                      class="bi bi-person-workspace"
                      style="font-size: 1.2rem"
                    ></i
                    ><span class="fw-bold"> Designation: </span
                    >{{ experience.designation }}
                  </div>
                  <div class="col-6">
                    <i
                      class="bi bi-buildings-fill"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="fw-bold"> Company Name: </span
                    >{{ experience.companyName }}
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <div class="d-flex flex-row">
                  <div class="col-6">
                    <i
                      class="bi bi-calendar-plus-fill"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="fw-bold"> Start Date: </span
                    >{{ experience.startYear | date : "yyyy-MM-dd" }}
                  </div>
                  <div class="col-6">
                    <i
                      class="bi bi-calendar-minus-fill"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="fw-bold"> End Date: </span
                    >{{ experience.endYear | date : "yyyy-MM-dd" }}
                  </div>
                </div>
              </div>

              <div class="mt-3">
                <div class="d-flex flex-row">
                  <div class="col-6">
                    <i class="bi bi-link-45deg" style="font-size: 1.2rem"></i>
                    <span class="fw-bold"> Company Url: </span
                    >{{ experience.companyUrl }}
                  </div>
                </div>
              </div>

              <div class="mt-3">
                <div class="d-flex flex-row">
                  <div class="col-12">
                    <i class="bi bi-pc-display" style="font-size: 1.2rem"></i>
                    <span class="m-0 fw-bold">Job Description </span>
                    <div style="white-space: pre-wrap">{{
                      experience.jobDescription
                    }}</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Qualifications">
        <div
          class="my-3 border border-dark rounded p-3"
          style="background-color: rgba(192, 229, 244, 0.314)"
        >
          <ng-container *ngIf="jobseeker.qualification">
            <div class="d-flex justify-content-between">
              <h3>Qualifications</h3>
            </div>
            <div *ngFor="let qualification of jobseeker.qualification">
              <hr />
              <div class="mt-3">
                <div class="d-flex flex-row">
                  <div class="col-6">
                    <i
                      class="bi bi-mortarboard-fill"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="fw-bold"> Qualification Name: </span
                    >{{ qualification.qualificationName }}
                  </div>
                  <div class="col-6">
                    <i class="bi bi-buildings" style="font-size: 1.2rem"></i>
                    <span class="fw-bold"> University Name: </span
                    >{{ qualification.university }}
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <div class="d-flex flex-row">
                  <div class="col-6">
                    <i
                      class="bi bi-calendar-minus-fill"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="fw-bold">Year of Completion: </span
                    >{{ qualification.yearOfCompletion | date : "yyyy" }}
                  </div>
                  <div class="col-6">
                    <i
                      class="bi bi-clipboard2-data-fill"
                      style="font-size: 1.2rem"
                    ></i>
                    <span class="fw-bold"> Grade or Score: </span
                    >{{ qualification.gradeOrScore }}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </p-accordionTab>
    </p-accordion>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #form="ngForm" (click)="onFormSubmit()">
              <div class="mt-2">
                <div class="mt-3 d-flex justify-content-start">
                  <div class="col-4">
                    <label class="form-label">First Name</label>
                    <input
                      type="text"
                      id="firstName"
                      class="form-control"
                      name="firstName"
                      [(ngModel)]="jobseeker.firstName"
                    />
                  </div>
                  <div class="col-6 mx-3">
                    <label class="form-label">Last Name</label>
                    <input
                      type="text"
                      id="lastName"
                      class="form-control"
                      name="lastName"
                      [(ngModel)]="jobseeker.lastName"
                    />
                  </div>
                </div>

                <div class="mt-3 d-flex justify-content-start">
                  <div class="col-4">
                    <label class="form-label">Contact-Number</label>
                    <input
                      type="text"
                      id="phone"
                      class="form-control"
                      name="phone"
                      [(ngModel)]="jobseeker.phone"
                    />
                  </div>
                  <div class="col-6 mx-3">
                    <label class="form-label">Date Of Birth</label>
                    <input
                      type="date"
                      id="dateOfBirth"
                      class="form-control"
                      name="dob"
                      value="{{ jobseeker.dob }}"
                      [ngModel]="jobseeker.dob | date : 'yyy-MM-dd'"
                      (ngModelChange)="jobseeker.dob = $event"
                    />
                  </div>
                </div>

                <div class="mt-3 col-6">
                  <label class="form-label">Address</label>
                  <input
                    type="text"
                    id="address"
                    class="form-control"
                    name="address"
                    [(ngModel)]="jobseeker.address"
                  />
                </div>

                <div class="mt-3 d-flex justify-content-start">
                  <div class="col-4">
                    <label class="form-label">Years of Experience</label>
                    <input
                      type="text"
                      id="totalExperience"
                      class="form-control"
                      name="totalExperience"
                      [(ngModel)]="jobseeker.totalExperience"
                    />
                  </div>
                  <div class="col-6 mx-3">
                    <label class="form-label">Expected Salary</label>
                    <input
                      type="text"
                      id="expectedSalary"
                      class="form-control"
                      name="expectedSalary"
                      [(ngModel)]="jobseeker.expectedSalary"
                    />
                  </div>
                </div>
                <div class="mt-3 p-2">
                  <label for="totalExperience" class="form-label"
                    >Upload Resume</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    (change)="onFileUploadChange($event)"
                  />
                </div>
              </div>
              <div class="mt-3">
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
