<div class="container">
  <h1 class="mt-3">Vacancy List</h1>

  <div class="d-flex justify-content-end mt-3">
    <a (click)="checkProfile()" class="btn btn-primary">
      <i class="bi bi-file-earmark-plus-fill"></i> Add Vacancy</a
    >
  </div>
  <ng-container *ngIf="vacancies; else novacancies">
    <div class="card mt-3">
      <p-table
        [value]="vacancies"
        [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="jobTitle" style="width: 10%">
              JobTitle <p-sortIcon field="jobTitle"></p-sortIcon>
            </th>
            <th pSortableColumn="noOfVacancies" style="width: 8%">
              No of vacancies<p-sortIcon field="noOfVacancies"></p-sortIcon>
            </th>
            <th pSortableColumn="minimumQualification" style="width: 7%">
              Minimum Qualification
              <p-sortIcon field="minimumQualification"></p-sortIcon>
            </th>
            <th pSortableColumn="experienceRequired" style="width: 7%">
              Experience Required
              <p-sortIcon field="experienceRequired"></p-sortIcon>
            </th>
            <th pSortableColumn="lastDate" style="width: 20%">
              LastDate<p-sortIcon field=""></p-sortIcon>
            </th>

            <th pSortableColumn="minSalary" style="width: 10%">
              Minimum Salary <p-sortIcon field="minSalary"></p-sortIcon>
            </th>
            <th pSortableColumn="maxSalary" style="width: 10%">
              Maximum Salary<p-sortIcon field="maxSalary"></p-sortIcon>
            </th>
            <th style="width: 8%"></th>
            <th style="width: 8%"></th>
            <th style="width: 9%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacancy>
          <tr>
            <td>{{ vacancy.jobTitle }}</td>
            <td>{{ vacancy.noOfVacancies }}</td>
            <td>{{ vacancy.minimumQualification }}</td>
            <td>{{ vacancy.experienceRequired }}</td>
            <td>{{ vacancy.lastDate | date : "dd-MM-yyyy" }}</td>
            <td>{{ vacancy.minSalary | currency:'INR' }}</td>
            <td>{{ vacancy.maxSalary | currency:'INR'}}</td>
            <td>
              <button
                class="btn btn-success"
                data-toggle="modal"
                data-target="#exampleModalCenter"
                (click)="onEditInitHandler(vacancy.id)"
              >
                <i class="bi bi-pencil-square"></i>Edit
              </button>
            </td>
          
             
                <td>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#confirmDelete' + vacancy.id">
                    <i class="bi bi-trash3"></i>Delete
                  </button>
                  <div class="modal fade" [id]="'confirmDelete' + vacancy.id" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="confirmDeleteLabel">Delete Confirmation</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete the Qualification
                        </div>
                        <div class="modal-footer">
                          <button type="button" (click)="VacancyDelete(vacancy.id)" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              
            <td>
              <a
                class="btn btn-light"
                [routerLink]="['/Vacancy/appliedinVacancy', vacancy.id]"
                >Applications</a
              >
            </td>
          </tr>

        
        </ng-template>
      </p-table>
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h1 class="mt-3">Edit Vacancy</h1>

              <form [formGroup]="editVacancyForm" >
                <div class="mt-2 mb-5">
                  <div class="mt-3">
                    <label for="jobtitle" class="form-label">Job Title</label>
                    <input
                      type="text"
                      id="jobTitle"
                      name="jobTitle"
                      class="form-control w-100"
                      placeholder="Enter Job Title"
                      formControlName="jobTitle"
                      [value]="vacancy.jobTitle"
                    />
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editVacancyForm.get('jobTitle')?.invalid &&
                        editVacancyForm.get('jobTitle')?.dirty
                      "
                    >
                      Job Title is Required.
                    </small>
                  </div>

                  <div class="mt-3">
                    <label for="urlHandle" class="form-label"
                      >No Of Vacancy</label
                    >
                    <input 
                    type="text" 
                    id="noOfVacancies" 
                    name="noOfVacancies"
                    class="form-control w-100"
                    placeholder="Enter Total Number of Vacancies"
                    formControlName="noOfVacancies"
                    [value]="vacancy.noOfVacancies"/>
                <small class="d-block text-danger"
                    *ngIf="editVacancyForm.get('noOfVacancies')?.invalid && editVacancyForm.get('noOfVacancies')?.dirty">
                    Total Number of Vacancies should be greater than 1.
                </small>
                  </div>

                  <div class="mt-3">
                    <label for="minimumQualification" class="form-label"
                      >Minimum Qualification</label
                    >
                    <input 
                    type="text" 
                    id="minimumQualification" 
                    name="minimumQualification" 
                    class="form-control w-100"
                    placeholder="Enter Minimum Qualification"
                    formControlName="minimumQualification"
                    [value]="vacancy.minimumQualification"/>
                <small class="d-block text-danger"
                    *ngIf="editVacancyForm.get('minimumQualification')?.invalid && editVacancyForm.get('minimumQualification')?.dirty">
                    Minimum Qualification is Required.
                </small>
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editVacancyForm.get('noOfVacancies')?.invalid &&
                        editVacancyForm.get('noOfVacancies')?.dirty
                      "
                    >
                      Total Number of Vacancies should be greater than 1.
                    </small>
                  </div>
                  <div class="mt-3">
                    <label for="jobdescription" class="form-label"
                      >Job Description</label
                    >
                    <textarea
                      pInputTextarea
                      id="jobDescription"
                      name="jobDescription"
                      style="height: 180px; max-height: 180px"
                      class="form-control w-100"
                      placeholder="Enter Job Description"
                      formControlName="jobDescription"
                      [value]="vacancy.jobDescription"
                    >
                    </textarea>
                    <small
                      class="d-block text-danger"
                      *ngIf="
                        editVacancyForm.get('jobDescription')?.invalid &&
                        editVacancyForm.get('jobDescription')?.dirty
                      "
                    >
                      Minimum 50 characters are Required
                    </small>
                  </div>

                  <label for="experienceRequired" class="form-label"
                    >Minimum years of Experience Required</label
                  >
                  <input 
                  type="text" 
                  id="experienceRequired" 
                  name="experienceRequired" 
                  class="form-control w-100"
                  placeholder="Enter Experience Required"
                  formControlName="experienceRequired"
                  [value]="vacancy.experienceRequired"/>
              <small class="d-block text-danger"
                  *ngIf="editVacancyForm.get('experienceRequired')?.invalid && editVacancyForm.get('experienceRequired')?.dirty">
                  Experience is Required.
              </small>
                </div>

                <div class="mt-3">
                  <label for="lastDate" class="form-label">Last Date</label>
                  <p-calendar
                    type="date"
                    id="lastDate"
                    name="lastDate"
                    placeholder="dd/MM/yyyy"
                    [(ngModel)]="vacancy.lastDate"
                    [ngModelOptions]="{ standalone: true }"
                  ></p-calendar>
                </div>
                <div class="mt-3">
                  <label for="minSalary" class="form-label"
                    >Minimum Salary</label
                  >
                  <input
                    type="number"
                    id="minSalary"
                    name="minSalary"
                    class="form-control w-100"
                    placeholder="Enter Minimum Salary"
                    formControlName="minSalary"
                    [value]="vacancy.minSalary"
                  />
                  <small
                    class="d-block text-danger"
                    *ngIf="
                      editVacancyForm.get('minimumSalary')?.invalid &&
                      editVacancyForm.get('minimumSalary')?.dirty
                    "
                  >
                    Minimum Salary is Required.
                  </small>
                </div>
                <div class="mt-3">
                  <label for="maxSalary" class="form-label"
                    >Maximum Salary</label
                  >
                  <input
                    type="number"
                    id="maxSalary"
                    name="maxSalary"
                    class="form-control w-100"
                    placeholder="Enter Maximum Salary"
                    formControlName="maxSalary"
                    [value]="vacancy.maxSalary"
                  />
                  <small
                    class="d-block text-danger"
                    *ngIf="
                      editVacancyForm.get('maxSalary')?.invalid &&
                      editVacancyForm.get('maxSalary')?.dirty
                    "
                  >
                    Maximum Salary is Required.
                  </small>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
              
                data-dismiss="modal"
                type="submit"
                [disabled]="editVacancyForm.invalid"
                (click)="UpdateVacancy()"
              >

              Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #novacancies>
  <p class="mt-2">You have added any vacancies yet!!</p>
</ng-template>
